

<div class="container">
  <h2 class="text-center my-4">Liste des Logements</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let logement of logements">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <p class="card-text">
            <strong>Adresse:</strong> {{ logement.adresse }}
          </p>
          <p class="card-text">
            <strong>Delegation:</strong> {{ logement.delegation }}
          </p>
          <p class="card-text">
            <strong>Gouvernorat:</strong> {{ logement.gouvernorat }}
          </p>
          <p class="card-text"><strong>Type:</strong> {{ logement.type }}</p>
          <p class="card-text">
            <strong>Description:</strong> {{ logement.description }}
          </p>
          <p class="card-text"><strong>Prix:</strong> {{ logement.prix }} €</p>

          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-warning" (click)="update(logement)">
              Modifier
            </button>
            <button class="btn btn-danger" (click)="delete(logement.reference)">
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="logements.length === 0" class="text-center mt-4 text-muted">
    Aucun logement disponible.
  </p>
</div>
