<div class="container">
    <h2 class="text-center my-4">Ajouter un Logement</h2>
    <!-- Formulaire d'ajout -->
    <form (ngSubmit)="onSubmit()" #logementForm="ngForm">
      <!-- adresse -->
      <div class="form-group">
        <label for="adresse">Adresse</label>
        <input
          type="text"
          id="adresse"
          class="form-control"
          required
          [(ngModel)]="logement.adresse"
          name="adresse"
          #adresse="ngModel"
          placeholder="Entrez l'adresse du logement"
        />
        <div *ngIf="adresse.invalid && adresse.touched" class="text-danger">
          Adresse est requise.
        </div>
      </div>
      <!-- delegation -->
      <div class="form-group">
        <label for="delegation">Délégation</label>
        <input
          type="text"
          id="delegation"
          class="form-control"
          required
          [(ngModel)]="logement.delegation"
          name="delegation"
          #delegation="ngModel"
          placeholder="Entrez la délégation"
        />
        <div *ngIf="delegation.invalid && delegation.touched" class="text-danger">
          Délégation est requise.
        </div>
      </div>
      <!-- Gouvernorat -->
      <div class="form-group">
        <label for="gouvernorat">Gouvernorat</label>
        <input
          type="text"
          id="gouvernorat"
          class="form-control"
          required
          [(ngModel)]="logement.gouvernorat"
          name="gouvernorat"
          #gouvernorat="ngModel"
          placeholder="Entrez le gouvernorat"
        />
        <div *ngIf="gouvernorat.invalid && gouvernorat.touched" class="text-danger">
          Gouvernorat est requis.
        </div>
      </div>
       <!-- Type -->
      <div class="form-group">
        <label for="type">Type de Logement</label>
        <input
          type="text"
          id="type"
          class="form-control"
          required
          [(ngModel)]="logement.type"
          name="type"
          #type="ngModel"
          placeholder="Entrez le type du logement"
        />
        <div *ngIf="type.invalid && type.touched" class="text-danger">
          Type est requis.
        </div>
      </div>
     <!-- description-->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          class="form-control"
          rows="4"
          required
          [(ngModel)]="logement.description"
          name="description"
          #description="ngModel"
          placeholder="Entrez la description du logement"
        ></textarea>
        <div *ngIf="description.invalid && description.touched" class="text-danger">
          Description est requise.
        </div>
      </div>
      <!-- prix -->
      <div class="form-group">
        <label for="prix">Prix (€)</label>
        <input
          type="number"
          id="prix"
          class="form-control"
          required
          [(ngModel)]="logement.prix"
          name="prix"
          #prix="ngModel"
          placeholder="Entrez le prix"
        />
        <div *ngIf="prix.invalid && prix.touched" class="text-danger">
          Prix est requis.
        </div>
      </div>
       <!-- button -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="logementForm.invalid"
      >
        Ajouter le Logement
      </button>
    </form>
  </div>
  